<div class="banner">
  <div class="container m-5 p-5 ">
      <h1>View Friends</h1>
      <h3><em>Checkout all our amazing friends</em></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @profiles.each do |profile| %>
      <div class="col-4">
        <%= cl_image_tag profile.photo.key %>
        <%= profile.name %>
        <%= link_to "See More", profile_path(profile) %>
      </div>
    <% end %>
  </div>

</div>