// Define variables for your color scheme

// For example:
$red: #FE491F;
$blue: #0964DA;
$yellow: #FFD00C;
$orange: #E67E22;
$green: #1ABC00;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: rgb(50,50,50);


// Old green: #1EDD88
// Old red: #FD1015
