
.results-container {
  display: flex;
  position: relative;
}

.results-profiles {
  width: 58vw !important;
}
.results-map {
  width: 42vw !important;
  position: sticky !important;
  height: 120vh;
  right: 0px;
  top: 0px;
}
