<div class="nav-bar">
  <div class="row justify-content-between align-items-center">
    <div class="col-2">
        <i class="fas fa-bars drop-down"></i>
    </div>
    <div class="col-4">
    <div class="content row justify-content-end align-items-end">
      <div class="col-5">
        <%= link_to new_user_registration_path do %>
          <p class="d-inline mr-2">Sign up</p>
          <i class="fas fa-caret-right d-inline"></i>
        <% end %>
      </div>
      <div class="col-5">
        <%= link_to new_user_session_path do %>
          <p class="d-inline mr-2">Log in</p>
          <i class="fas fa-caret-right d-inline"></i>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
