<div class="banner">
  <div class="container m-5 p-5 ">
      <h1>Loan Me</h1>
      <h3><em>For the Lonely</em></h3>
      <h2 >Sign Up Now</h2>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Welcome to our app, we made this app for lonely people who need some friends. Coronavirus has been especially hard for us all, and everyone needs a friend to calm their minds down! 
  <br>
  <br>
  Our friends are certified safe, healthy and are vaccinated. 
  <br>
  <br>
  Read on more about the features of our app! 
  <br>
  <br>
  Checkout all the cool friends we have</h2>
  <div class="row d-flex justify-content-center align-items-center m-5">
    <div class="col-3">
      <div class="row d-flex flex-column justify-content-center align-items-center">
        <i class="fas fa-shield-virus"></i>
        <h3 class="text-center m-3">Safe and Healthy Friends</h3>
      </div>
    </div>
    <div class="col-3">
      <div class="row d-flex flex-column justify-content-center align-items-center">
        <i class="fas fa-poo"></i>
        <h3 class="text-center m-3">Super fun and outgoing</h3>
      </div>
    </div>
    <div class="col-3">
      <div class="row d-flex flex-column justify-content-center align-items-center">
        <i class="fas fa-search-dollar"></i>
        <h3 class="text-center m-3">Totally free of charge</h3>
      </div>
    </div>
  </div>
</div>