<div class="home">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Loan Me</h1>
        <br>
        <p>Need a plus one to your sister’s wedding? A one-day boyfriend to impress your parents, or a buddy to go to the movies with?
          <br>
          <br>
          <em>Loan Me</em> is a meeting place for new friends, new opportunities, and new experiences.
          <br>
          <br>
          Sign-up with us to begin your adventure! 
        </p>
      </div>
      <div class="col-6 align-items-end">
        <%= image_tag "talk.svg", class:"image" %>
      </div>
    </div>
  </div>
</div>