.btn-success {
  color: white;
}

.btn-ghost {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1bcb7f;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.hangout-button-div {
  margin-left: 3rem;
  padding-left: 1.5rem;
}

.hangout-button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: $black;
  margin-right: 1rem;
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 1vw 4vw;
  background-color: #fff9f0;
  &:hover {
    text-decoration: none;
    color: $black;
    background-color: #fff0c7;
    transition: 0.5s;
  }
}

.hangout-save-button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: $black;
  margin-right: 1rem;
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 0.7vw 4.8vw;
  background-color: #fff9f0;
  margin-bottom: 1.5rem;
  &:hover {
    text-decoration: none;
    color: $black;
    background-color: #fff0c7;
    transition: 0.5s;
  }
}

.hangout-edit-button {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: $black;
  margin-right: 1rem;
  border-radius: 40px;
  border: 1px solid #000000;
  padding: 0.7vw 4.8vw;
  background-color: #fff9f0;
  &:hover {
    text-decoration: none;
    color: $black;
    background-color: #fff0c7;
    transition: 0.5s;
  }
}

.top-buttons {
  margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .hangout-button {
    font-size: 4vw;
  }
  .hangout-save-button {
    font-size: 4vw;
  }
  .top-buttons {
    margin-bottom: 1.5rem;
  }
  .hangout-edit-button {
    font-size: 4vw;
  }
}

.btn-submit {
  color: white !important;
  background-color: #ff4a1e !important;
}
