// <i class="fas fa-venus"></i>
.fa-venus {
  color: #C54B8C
}

// <i class="fas fa-mars"></i>
.fa-mars {
  color: #4B9FC8
}

// <i class="fas fa-transgender-alt"></i>
.fa-transgender-alt {
  color: #EE7B16
}

.home-icon {
  color: #74BEB8;
}
