
@media (max-width: 600px) {
  .responsive-image {
    display: none;
  }
  .responsive-width {
    margin-right: 3rem;
  }
}

@media (min-width: 600px) {
  .responsive-width {
    width: 50%;
  }
  .responsive-image {
    display: flex;
  }
}
