.nav-bar {
  width: 100%;
  padding: 32px 49px;
  .drop-down {
    font-size: 45px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 14px;
  }


  .login {
    margin-right: 3rem;
    .text {
      padding-bottom: 4px;
    }
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .fa-caret-right {
    color: $red;
    font-size: 30px;
  }

  .fa-caret-left {
    color: #0265DC;
    font-size: 30px;
  }

  p {
    font-size: 16px;
    font-weight: bolder !important;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  @media (max-width: 600px) {
    .login {
      margin-right: 0.5rem;
    }
  }
}

