.tabs-underlined {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0;
}

.tabs-underlined .tab-underlined {
  color: #000000;
  padding: 2vw 10vw;
  margin: 8px 16px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 40px;
}

.tabs-underlined .tab-underlined.active {
  border: 3.5px solid #000000;
  color: #000000;
  border-radius: 40px;
  font-weight: 900;
  background-color: #fff9f0;
}

.margin {
  margin-top: 120px;
  margin-left: 40px;
}
