.tabs-underlined {
  display: flex;
  align-items: center;
  border-bottom: 0;
  padding-left: 145px;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #74BEB8;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.margin {
  margin-top: 120px;
  margin-left: 40px;
}
