
<h1>Edit your Hangout booking</h1>
<%= simple_form_for [@profile, @hangout] do |f| %>
      <%= f.input :date, html5: true, input_html: {min: Date.today} %>
      <%= f.input :time %>
      <%= f.submit "Edit",  class: "btn btn-primary" %>
      <% end %>
