// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Various
#page-container {
  position: relative;
  min-height: calc(100vh - 100px);
  padding-bottom: 50px;
}


body {
  color: $black;
  background-color: #fff9f0;
}

#font-white {
  color: white;
}

h1 {
  font-size: 8vw;
}

p {
  font-size: 2vw;
}

a {
  font-size: 2.5vw;
}

@media (max-width: 600px) {
  h1 {
    font-size: 12vw
  }
  p {
  font-size: 4vw;
  }
  a {
  font-size: 4vw;
  }
}

html {
  scroll-behavior: smooth;
 }


